/*---CSS Demo---*/
body{
    background-color:#105163;
}
/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /*  ---------------Global Styles-----------------  */

  body{
    font-family: "Open Sans", sans-serif;
  }

  header.primary{
    background-color:#65C5E0;
  }