/*---CSS Demo---*/
body{
    background-color:#36849a;
}
/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
/*  ---------------Responsive Images-----------------  */
img{
  max-width:100%;
}


  /*  ---------------Utility Classes-----------------  */

  .container{
    max-width: 960px;
    width:80vw;
    margin:40px auto;
  }

  .img-right{
    float:right;
    margin: 10px 0 10px 20px;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:50px;
  }
  
  .img-left{
    float:left;
    margin: 10px 20px 10px 0;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:50px;
  }
  
  .img-center{
    display:block;
    margin:20px auto;
    border:2px solid darkblue;
    padding:5px;
    border-radius:50px;
  }


  /*  ---------------Global Styles-----------------  */

  body{
    font-family: "Open Sans", sans-serif;
    margin:0;
    background-image:url("../");
    background-repeat:no-repeat;
    background-size:contain;
  }

  header.primary{
    background-color: rgb(100, 152, 207);
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color:whitesmoke;
    text-align: center;
    text-shadow: 1px 1px #000000;
    padding:40px;
  }

  header.primary h1 {
  font-size: 2.5em;
  margin:20px 0 0;
  }

  header.primary h1 a{
  color:whitesmoke;
  text-decoration: none;
  }

  header.primary h2 {
    margin:0;
  }

  header.primary nav {
  max-width:900px;
  margin: 20px auto;
  }

  header.primary ul {
    padding:5px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  header.primary ul li {
  list-style-type:none
  }

  header.primary nav a{
  color:whitesmoke;
  text-decoration:none;
  background-color:rgba(0, 0, 0, .4);
  padding: 5px 10px;
  border-radius: 20px;
  border: 1.5px solid; 
  transition:.4s;
  }

  header.primary nav a:hover{
    background-color:rgba(0, 0, 0, .8);
  }

  #content{
    line-height:1.5;
  }

  #content h2{
    color:darkblue;
    border-bottom:2px solid black;
  }

  #content h3{
    color:darkblue;
    border-left:5px solid black;
    padding:7.5px;
  }

#blog{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2rem;
  border-bottom:2px solid black;
  padding-bottom: 3rem;
  border-top: 2px solid black;
  padding-top: 3rem;
}

#blog .post{
  box-shadow: 10px 10px 5px 0px rgba(0,24,128,0.75);
  padding: 10px;
  border-radius:4px;
  font-size:.8rem;
  transition:.5s;
}

#blog figure{
  margin:0;
}

#blog figcaption{
  text-transform:uppercase;
  font-size:.6rem;
  text-align:center;
  color:#c0c0c0;
}

#blog header{
  padding-top:10px;
  font-size:.6rem;
  color:#c0c0c0;
}

#blog header h2{
  margin:0;
}

#blog h2 a{
  color:#3b638b;
}

#blog .post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.6);
}

#practice h2{
  color: #3b638b;
  border-bottom: 1px solid #c0c0c0;
}

table{  
  border: 1px solid #c0c0c0;
  width: 100%;
  margin:20px 0;
  border-collaspe:collapse;
}
caption{
  font-weight:bold;
  margin:10px;
}

th{
  background-color: #172635;
  color:#ffffff;
  padding:7.5px;
}

tr:nth-child(even){
  background-color: grey;
}

tr:hover{
  background-color: #3b567d;
}

td:nth-child(n+2){
  text-align:right;
}

td{
border:1px solid black;
padding: 5px;
}

#practice ol{
  list-style-type:lower-roman;
  list-style-position:outside; 
}

#practice ul ul {
list-style-type:square;
}

dl dt{
font-weight:bold;
}

dl dd{
  margin:0;
}

dd + dt {
margin-top:1rem;
}

#practice blockquote{
  border: 4px double #c0c0c0;
  padding: 20px 40px;
  margin: 40px 80px;
  border-radius: 30px 0;
  background-color: #0e467f;
  color: #ffffff;
  line-height: 1.4;
  text-shadow: 2px 2px #000;
}

#practice blockquote cite{
display:block;
text-align:right;
margin-top:1rem;
}



aside[role="complementary"]{
  background-color:rgb(31, 107, 107);
  color:whitesmoke;
  padding:1.5rem;
}
aside .container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:25px;
}

aside .container a:last-child{
display:block;
color:white;
text-align:right;
margin-top: 2rem;

}

aside .widget footer{
display:none;
}

#colophon{
  background-color: rgb(96, 138, 183);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
text-align:center;
padding: 10px;
color:white;
font-size:1.5rem;
}









  @media screen and (max-width:600px){
    header.primary ul {
     flex-direction: column;
     gap:20px;
     max-width:200px;
     margin:auto;
    }
    header.primary nav a {
      display:block;
    }
  }